html{
    size: 1px;
}
.Top
{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 120px;
   
}
body{
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    
}
h1
{
    margin-top: 50px;
    padding-top: 70px;
    font-family: "Sacramento",serif;
    font-size: 70px;
    margin-bottom: 25px;
    color: #0da5a5;
}
h2{
    
    font-family: "Montserrat", serif;
    font-size: 2.5rem;
    margin: 0;
    color: #0da5a5;
    font-weight: 500;
    padding: 30px;
}
h3
{
    font-family: "Montserrat", serif;
    color: #0da5a5;
}
.Cloud{
    position: absolute;
}
#topcloud{
    right: 300px;
    top: 50px;
    height: 75px;
}
#bottomcloud{
    left: 250px ;
    padding-top : 50px;
    height: 75px;
    bottom :300px;  

}
#man
{
    height: 80px;
    position: absolute;
    left: 720px;
    top: 100px;
}

.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.img
{
    width: 25%;
    float: left;
    margin-right: 30px;
 
}
.img2
{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.img3
{
    height: 180px;
    padding-top: 100px;
}
p{
    font-weight: 900;
    color: solid black;
    font-size: larger;
}
.p1
{
    width: 30%;
    margin: 0 auto 50px auto;
    line-height: 2;

}
hr
{
    border-style: dotted;
    border-bottom: none;
    width: 10%;
    margin: 100px none;
    color: blue;
}

.contact-me
{
    line-height: 2;

}

#btn
{
    background-color: #0bf6cb;
    cursor: pointer;
    height: 40px;
    width: 160px;
    border-radius: 60px;
    margin: 40px 0 40px 0;
    font-weight: 900;
    /* border: none; */
}
#btn:hover
{   
    background-color:   #59fadc ;
}
.bottom-container
{
    background-color: #07cba7 ;
    margin: 0;
    height: 100px;

}
#nm
{
    position: relative;
    top:20px;
}
.footer-link
{
    font-family: "Montserrat", serif; 
    font-size: 20px;
    font-weight: 800;
    position: relative;
    top: 20px;
    
}
